In [3]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame
from numpy.random import randn

In [17]:
s = Series(randn(6),index = [[1,1,1,2,2,2],["a","b","c","a","b","c"]])
s
#HERE 1 LIST IS THE HIGHER INDEX LEVEL AND 2ND LSIT IS THE LOWER INDEX LEVEL

1  a    3.095794
   b    0.758459
   c   -1.933036
2  a    1.160308
   b   -0.308639
   c   -1.181978
dtype: float64

In [19]:
s.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [21]:
s[1]

a    3.095794
b    0.758459
c   -1.933036
dtype: float64

In [23]:
s[2]

a    1.160308
b   -0.308639
c   -1.181978
dtype: float64

In [25]:
s

1  a    3.095794
   b    0.758459
   c   -1.933036
2  a    1.160308
   b   -0.308639
   c   -1.181978
dtype: float64

In [31]:
s[:,"a"]
#IN THIS, WE ARE TRYING TO GET THE VALUES THAT ARE STORED IN BOTH THE A's
#FOR THIS,FIRST WE ARE SELECTING EVERYTHING USING A : AND THEN SPECIFYING 
#THAT I WANT ALL A's IN THAT LOWER INDEX LEVEL

1    3.095794
2    1.160308
dtype: float64

In [33]:
dframe = s.unstack()
dframe
# USING UNSTACK, WE CAN CONVERT THIS TYPE OF SERIES IN TO A DATAFRAME
#IN THIS DF, THE LOWER INDEX LEVEL WILL BE COLS AND HIGHER WILL BE ROWS

          a         b         c
1  3.095794  0.758459 -1.933036
2  1.160308 -0.308639 -1.181978

In [73]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                   index = [["a","a","b","b"],[1,2,1,2]],
                   columns = [["NY","NY","LA","SF"],["cold","hot","hot","cold"]])
dframe2

                       NY      LA   SF
                     cold hot hot cold
Location Temperature
a        1              0   1   2    3
         2              4   5   6    7
b        1              8   9  10   11
         2             12  13  14   15

In [75]:
dframe2.index.names = ["INDEX1","INDEX2"]

dframe2.columns.names = ["Cities","Temp"]

dframe2

Cities          NY      LA   SF
Temp          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [77]:
dframe2.swaplevel("Cities","Temp",axis = 1)

Temp          cold hot     cold
Cities          NY  NY  LA   SF
INDEX1 INDEX2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [87]:
dframe2.sort_index(level=1)

Cities          NY      LA   SF
Temp          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
b      1         8   9  10   11
a      2         4   5   6    7
b      2        12  13  14   15

In [85]:
dframe2.sort_index(level = 0)

Cities          NY      LA   SF
Temp          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [63]:
dframe2.sort_index(level = 1)

Cities          NY      LA   SF
Temp          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
b      1         8   9  10   11
a      2         4   5   6    7
b      2        12  13  14   15

In [71]:
dframe2.sum(level = "Temp",axis = 1)

TypeError: sum() got an unexpected keyword argument 'level'