In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
s1 = Series([1,2,3,4],index = ["A","B","C","D"])
s1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
s2 = s1.reindex(["A","B","C","D","E","F"])
s2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
s3 = Series(["U","M","C"],index = [0,5, 10])
s3

0     U
5     M
10    C
dtype: object

In [11]:
ranger = range(15)
ranger

range(0, 15)

In [13]:
s3.reindex(ranger,method = "ffill")

0     U
1     U
2     U
3     U
4     U
5     M
6     M
7     M
8     M
9     M
10    C
11    C
12    C
13    C
14    C
dtype: object

In [15]:
s3.reindex(ranger,method = "bfill")

0       U
1       M
2       M
3       M
4       M
5       M
6       C
7       C
8       C
9       C
10      C
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [17]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ["A","B","D","E","F"],
                   columns = ["c1","c2","c3","c4","c5"])
dframe

         c1        c2        c3        c4        c5
A  1.424329 -0.251782  2.069709  1.401855  1.054489
B  2.225904  0.196597  0.675632  1.700193  1.229304
D -0.165801 -2.076449  0.399230 -0.157738 -0.323940
E -0.282877  0.316928  0.455852  1.711743  0.592323
F  1.824244 -0.638811 -1.529321  0.626458  0.459204

In [19]:
dframe2 = dframe.reindex(["A","B","C","D","E","F"])
dframe2

         c1        c2        c3        c4        c5
A  1.424329 -0.251782  2.069709  1.401855  1.054489
B  2.225904  0.196597  0.675632  1.700193  1.229304
C       NaN       NaN       NaN       NaN       NaN
D -0.165801 -2.076449  0.399230 -0.157738 -0.323940
E -0.282877  0.316928  0.455852  1.711743  0.592323
F  1.824244 -0.638811 -1.529321  0.626458  0.459204

In [21]:
nc = ["c1","c2","c3","c4","c5","c6"]
dframe2.reindex(columns = nc)

         c1        c2        c3        c4        c5  c6
A  1.424329 -0.251782  2.069709  1.401855  1.054489 NaN
B  2.225904  0.196597  0.675632  1.700193  1.229304 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D -0.165801 -2.076449  0.399230 -0.157738 -0.323940 NaN
E -0.282877  0.316928  0.455852  1.711743  0.592323 NaN
F  1.824244 -0.638811 -1.529321  0.626458  0.459204 NaN

In [25]:
dframe.set_index([["A","B","C","D","E","F"],nc])

ValueError: Length mismatch: Expected 5 rows, received array of length 6

In [27]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [29]:
selected_rows = df.loc[['A', 'B']]
selected_rows

KeyError: "None of [Index(['A', 'B'], dtype='object')] are in the [index]"