In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
s1 = Series(np.arange(3),index = ["A","B","C"])
s1 = 2*s1

In [5]:
s1

A    0
B    2
C    4
dtype: int32

In [7]:
s1 ["B"]

2

In [11]:
 s1.iloc[1]

2

In [13]:
s1[0:3]

A    0
B    2
C    4
dtype: int32

In [15]:
s1[["A","B"]]

A    0
B    2
dtype: int32

In [17]:
s1[s1>3]

C    4
dtype: int32

In [19]:
s1[s1>3] = 10

In [21]:
s1

A     0
B     2
C    10
dtype: int32

In [23]:
df = DataFrame(np.arange(25).reshape((5,5)),index = ["NYC","LA","SF","DC","Chi"],
              columns = ["A","B","C","D","E"])
df

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [25]:
df["B"]

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int32

In [27]:
df [["A","B"]]

      A   B
NYC   0   1
LA    5   6
SF   10  11
DC   15  16
Chi  20  21

In [29]:
df[df["C"]>8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [31]:
df

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [33]:
df > 10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [35]:
df.ix["LA"]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [37]:
df.iloc["LA"]

TypeError: Cannot index by location index with a non-integer key

In [39]:
df.iloc[1]

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32

In [41]:
df.loc["LA"]

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32