In [3]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [7]:
 obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [9]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [19]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww2_cas = Series([8700000,4300000,3000000,2100000,4000000],index=["USSR","Germany","China","Japan","USA"])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [7]:
ww2_cas["USA"]

4000000

In [11]:
#check which countries had cas greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [13]:
"USSR" in ww2_cas

True

In [15]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 4000000}

In [17]:
ww2_series = Series(ww2_dict)

ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [19]:
c = ["China","Germany","Japan","USA","USSR","Argentina"]

In [21]:
obj2 = Series(ww2_dict,index = c)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [23]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [25]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [27]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [29]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [31]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA           8000000.0
USSR         17400000.0
dtype: float64

In [35]:
obj2.name = "WW2 Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: WW2 Casualties, dtype: float64

In [37]:
obj2.index.name = "Countries"

In [39]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: WW2 Casualties, dtype: float64